<ag-content [pad]="10" [gap]="10">

  <ag-content class="search-box" [columns]="'1fr auto'">
    <ag-input class="search" [showLabel]="false" [(ngModel)]="searchValue" [type]="'text'" placeholder="Search..."></ag-input>
    <!-- <button mat-icon-button>
      <mat-icon (click)="doSearch()">search</mat-icon>
    </button> -->
  </ag-content>

  <ag-content class="list" [pad]="'10px 2px'">
    <ag-content class="list-header" [columns]="'1fr auto'">
      <ag-content class="list-title" [placeContent]="'center start'">Example List</ag-content>
      <ag-content>
        <ng-container *ngTemplateOutlet="filterTemplate ? filterTemplate : defaultFilter"></ng-container>
      </ag-content>
    </ag-content>

    <ag-content class="item" [pad]="5" [gap]="5" *ngFor="let item of itemList" (click)="itemClicked(item)">

      <ag-content [columns]="'1fr auto'" [gap]="5" [placeContent]="'start center'">
        <ag-content class="title" [columns]="1" [placeContent]="'start center'">
          {{item.name}}
        </ag-content>

        <ag-content class="order-date" [placeContent]="'start center'">
          {{'#0000' + item.id}}
        </ag-content>
      </ag-content>

      <ag-content [columns]="'1fr auto'" [gap]="5">
        <ag-content class="details reference">
          {{item.email}}
        </ag-content>

        <ag-content>
          <!-- {{}} -->
        </ag-content>
      </ag-content>

    </ag-content>

    <ag-content class="list-footer" [rows]="1"></ag-content>

    <ng-template #defaultFilter></ng-template>
  </ag-content>
</ag-content>