<ag-div [columns]="1" [pad]="10" [gap]="10">

  <ag-div class="search-box" [columns]="'1fr auto'">
    <ag-input class="search" [showLabel]="false" [(ngModel)]="searchValue" [type]="'text'" placeholder="Search..."></ag-input>
    <!-- <button mat-icon-button>
      <mat-icon (click)="doSearch()">search</mat-icon>
    </button> -->
  </ag-div>

  <ag-div class="list" [pad]="'10px 2px'">
    <ag-div class="list-header" [columns]="'1fr auto'">
      <ag-div class="list-title" [placement]="'center start'">Example List</ag-div>
      <ag-div>
        <ng-container *ngTemplateOutlet="filterTemplate ? filterTemplate : defaultFilter"></ng-container>
      </ag-div>
    </ag-div>

    <ag-div class="item" [pad]="5" [gap]="5" *ngFor="let item of itemList" (click)="itemClicked(item)">

      <ag-div [columns]="'1fr auto'" [gap]="5" [placement]="'start center'">
        <ag-div class="title" [columns]="1" [placement]="'start center'">
          {{item.name}}
        </ag-div>

        <ag-div class="order-date" [placement]="'start center'">
          {{'#0000' + item.id}}
        </ag-div>
      </ag-div>

      <ag-div [columns]="'1fr auto'" [gap]="5">
        <ag-div class="details reference">
          {{item.email}}
        </ag-div>

        <ag-div>
          <!-- {{}} -->
        </ag-div>
      </ag-div>

    </ag-div>

    <ag-div class="list-footer" [rows]="1"></ag-div>

    <ng-template #defaultFilter></ng-template>
  </ag-div>
</ag-div>