<ag-div [pad]="5" [gap]="5" [flow]="'column'">
  <ag-button (click)="defaultModal.open()" (click)="buttonClick()">Default Modal</ag-button>
  <ag-button (click)="stepperModal.open() && loopSteps=true" (click)="buttonClick()">Looped Stepper Modal</ag-button>
  <ag-button (click)="stepperModal.open() && loopSteps=false" (click)="buttonClick()">No-Loop Stepper Modal</ag-button>
  <ag-button (click)="customModal.open()">Custom Buttons</ag-button>
</ag-div>

<!-- Stepper Modal -->
<ag-modal #stepperModal
          [title]="'Step ' + stepperModal.step"
          [type]="'stepper'"
          [loop]="loopSteps"
          [steps]="4">
  <ag-div [columns]="2" [gap]="5" [pad]="5">

    <ng-container [ngSwitch]="stepperModal.step">
      <ng-container *ngSwitchCase="1">
        <ng-container *ngTemplateOutlet="step1"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <ng-container *ngTemplateOutlet="step2"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <ng-container *ngTemplateOutlet="step3"></ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="4">
        <ng-container *ngTemplateOutlet="step4"></ng-container>
      </ng-container>
    </ng-container>

  </ag-div>
</ag-modal>

<!-- Default Modal -->
<ag-modal #defaultModal [title]="'Default Modal'">
  <ag-div [columns]="2" [gap]="5" [pad]="5">
    <ng-container *ngTemplateOutlet="noStep"></ng-container>
  </ag-div>
</ag-modal>

<ag-modal #customModal [title]="'Custom Buttons'"  [buttons]="buttons">
  <ag-div [columns]="2" [gap]="5" [pad]="5">
    <ng-container *ngTemplateOutlet="noStep"></ng-container>
  </ag-div>
</ag-modal>

<ng-template #step1>
  <ag-div [columns]="1">
    <div class="sample-box"></div>
  </ag-div>
</ng-template>

<ng-template #step2>
  <ag-div>
    <div class="sample-box">

    </div>
  </ag-div>

  <ag-div>
    <div class="sample-box">

    </div>
  </ag-div>
</ng-template>

<ng-template #step3>

  <ag-div>
    <div class="sample-box">

    </div>
  </ag-div>

  <ag-div>
    <div class="sample-box"> </div>
  </ag-div>

  <ag-div>
    <div class="sample-box">

    </div>
  </ag-div>

</ng-template>

<ng-template #step4>
  <ag-div>
    <div class="sample-box">

    </div>
  </ag-div>

  <ag-div>
    <div class="sample-box"> </div>
  </ag-div>

  <ag-div>
    <div class="sample-box">

    </div>
  </ag-div>

  <ag-div>
    <div class="sample-box">

    </div>
  </ag-div>
</ng-template>

<ng-template #noStep>
  <ag-div>
    <div class="sample-box">

    </div>
  </ag-div>
  <ag-div>
    <div class="sample-box">

    </div>
  </ag-div>
</ng-template>

<ng-template #buttons>
  <ag-div>
    <ag-button> Button 1 </ag-button>
  </ag-div>
  <ag-div>
    <ag-button> Button 2 </ag-button>
  </ag-div>
  <ag-div>
    <ag-button> Button 3 </ag-button>
  </ag-div>
  <ag-div>
    <ag-button> Button 4 </ag-button>
  </ag-div>
</ng-template>