.styled-button {
  color: var(--buttonFontColor);
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 0px 0px 4px var(--shadowDark);
  font-size: 1.00em;
  box-shadow: 0px 1px 4px 0px var(--shadowDark);
  padding: 5px 8px;
  border-radius: 5px;
}

.styled-button:active {
  box-shadow: inset 0 0 5px 1px var(--shadowDark);
}

.red {
  background-color: var(--red);
}

.blue {
  background-color: var(--blue);
}

.green {
  background-color: var(--green);
}

.purple {
  background-color: var(--purple);
}