<div *ngIf="showFilter" class="filter-container col-1">
  <div class="filter-header col-2-auto-right">
    <div class="header col-1 v-center-self">
      <div class="col-2-auto-left">
        <mat-icon *ngIf="filterVisible" class="pointer" (click)="filterVisible = !filterVisible">keyboard_arrow_up
        </mat-icon>
        <mat-icon *ngIf="!filterVisible" class="pointer" (click)="filterVisible = !filterVisible">keyboard_arrow_down
        </mat-icon>
        Filter
      </div>
    </div>

    <div class="col-2">
      <ng-container *ngIf="filterVisible">
        <div class="col-1">
          <generic-button [buttonText]="'Search'" (clicked)="search()" [color]="'blue'">
          </generic-button>
        </div>
        <div class="col-1">
          <generic-button [buttonText]="'Reset'" (clicked)="resetSearch()" [color]="'gray'">
          </generic-button>
        </div>
      </ng-container>
    </div>
  </div>

  <div *ngIf="filterVisible" class="filters col-4 pad-5 gap-10">
    <ng-container *ngFor="let column of columns">
      <div class="col-1 full-width-content" *ngIf="column.allowFilter && column.dataType == 'string'">
        <ng-container [ngSwitch]="column.dataType">
          <label>{{column.display}}</label>
          <!-- <ng-container *ngSwitchCase="'number'">
                <input type="number" placeholder="Enter number..." (change)="filterChange(column, $event.target.value)">
              </ng-container> -->

          <!-- <ng-container *ngSwitchCase="'date'">
                <input type="date" placeholder="Enter date..." (change)="filterChange(column, $event.target.value)">
              </ng-container> -->

          <!-- <ng-container #listTemplate *ngIf="column.dataType == 'list' : defaultTemplate">
                <generic-dropdown [displayProperty]="column.list.display" [indexProperty]="column.list.value"
                  [source]="column.list.source" [label]="column.display">
                </generic-dropdown>
              </ng-container> -->
          <ng-container *ngSwitchCase="'string'">
            <input type="text" (change)="filterChange(column, $event.target.value)">
          </ng-container>

        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<mat-paginator #paginator *ngIf="showPager" [pageSizeOptions]="pageSizeOptions" [length]="dataSource.dataLength"
  (page)="changePage($event)" showFirstLastButtons></mat-paginator>

<div class="table-container mat-elevation-z8">
  <mat-table matSort (matSortChange)="doSort($event)" [dataSource]="dataSource">

    <ng-container *ngFor="let column of columns" [matColumnDef]="column.id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>{{column.display ? column.display : column.id}}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="doView(element)"> {{column.cell ? column.cell(element) : ''}}
      </mat-cell>
      <mat-footer-cell *matFooterCellDef>{{column.footer ? column.footer(element) : ''}}</mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon *ngIf="allowEdit" aria-label="edit" (click)="doEdit(element)">edit</mat-icon>
        <mat-icon *ngIf="allowDelete" aria-label="delete" (click)="doDelete(element)">highlight_off</mat-icon>
        <mat-icon (click)="doCustom(element)" *ngFor="let item of customActions"></mat-icon>
      </mat-cell>
      <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="activeColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: activeColumns"></mat-row>
    <mat-footer-row *matFooterRowDef="activeColumns; sticky: true"></mat-footer-row>
  </mat-table>
</div>