<ag-div [width]="collapsed ? 'auto' : 150" [height]="'100%'">
  <ag-div class="menu-wrapper" [gap]="10">
    <ag-div class="menu-header pointer" [height]="45" (click)="collapsed = !collapsed"
            [placeContent]="'center start'">
      <ag-div [columns]="'auto 1fr'" [gap]="8" [pad]="'0 0 0 18px'">
        <i class="fas fa-bars"></i>
        <span *ngIf="!collapsed">Menu</span>
      </ag-div>
    </ag-div>

    <ag-div *ngIf="!collapsed" [placeContent]="'center center'">
      <ag-div [width]="100" class="sep"></ag-div>
    </ag-div>

    <ag-div class="menu-items" [height]="'100%'">
      <ag-div *ngFor="let item of items" class="menu-item open" (mouseenter)="hoveredMenu=item.name"
              (mouseleave)="hoveredMenu=null" (click)="selectedMenu=item.name"
              [ngClass]="hoveredMenu == item.name ? 'open' : 'closed'">
        <ag-div class="main pointer" [columns]="'auto 1fr'"
                [gap]="5">
          <ag-div [width]="5" [ngClass]="{'indicator': selectedMenu == item.name}"></ag-div>
          <ag-div [columns]="'auto 1fr'" [gap]="10" [pad]="8" [placeContent]="'center start'">
            <i [ngClass]="item.icon ? 'fas fa-' + item.icon : null"></i>
            <span *ngIf="!collapsed">{{item.display}}</span>
          </ag-div>
        </ag-div>
        <ag-div class="sub-items">
          <ng-container *ngIf="hoveredMenu == item.name && !collapsed">
            <ag-div *ngFor="let subItem of item.subItems" class="sub-item pointer" (click)="navigateTo(subItem.route)"
                    [columns]="'1fr auto'" [gap]="10" [pad]="8">
              <span *ngIf="!collapsed" [ngStyle]="{'text-align': 'end'}">{{subItem.display}}</span>
              <i [ngClass]="subItem.icon ? 'fas fa-' + subItem.icon : null"></i>
            </ag-div>
          </ng-container>
        </ag-div>
      </ag-div>
    </ag-div>

  </ag-div>
</ag-div>