<div class="col-1 gap-10">

  <div class="col-1">
    <div class="col-2-auto-right search-box">
      <input class="search" type="text" placeholder="Search..." [(ngModel)]="searchValue">
      <button mat-icon-button>
        <mat-icon (click)="doSearch()">search</mat-icon>
      </button>
    </div>
  </div>

  <div class="list col-1">
    <div class="list-header col-2 pad-5">
      <div class="list-title h-start-self v-center-self">{{title}}</div>
      <div class="col-1 full-width-content">
        <ng-container *ngTemplateOutlet="filterTemplate ? filterTemplate : defaultFilter"></ng-container>
      </div>
    </div>

    <ng-container *ngTemplateOutlet="listTemplate ? listTemplate : defaultList"></ng-container>

    <!-- Footer -->
    <div class="list-footer full-width-content"></div>

  </div>
</div>

<ng-template #defaultList></ng-template>
<ng-template #defaultFilter></ng-template>