<agc [gap]="30" [pad]="5">
  <!-- Async Table -->
  <agc [gap]="5">
    <ag-table-filter [(config)]="asyncConfig" (search)="doAsyncSearch()"></ag-table-filter>

    <ag-table #asyncTable [isDebug]="false" [(config)]="asyncConfig"
              (search)="updateAsyncData()" (rowSelect)="asyncRowSelected($event)">
    </ag-table>

    <agc *ngIf="asyncRowOutput" [cols]="'auto 1fr'">
      <b>Selected</b> {{asyncRowOutput}}
    </agc>

    <agc *ngIf="getAsyncEdits()"  [cols]="'auto 1fr'">
      <b>Edits</b> {{getAsyncEdits()}}
    </agc>
  </agc>

  <!-- Static Table -->
  <agc [gap]="5">
    <ag-table-filter [(config)]="staticConfig" (search)="doStaticSearch()"></ag-table-filter>

    <ag-table #staticTable [isDebug]="false" [(config)]="staticConfig"
              (search)="updateStaticData()" (rowSelect)="staticRowSelected($event)">
    </ag-table>

    <agc *ngIf="staticRowOutput" [cols]="'auto 1fr'">
      <b>Selected</b> {{staticRowOutput}}
    </agc>

    <agc *ngIf="getStaticEdits()"  [cols]="'auto 1fr'">
      <b>Edits</b> {{getStaticEdits()}}
    </agc>
  </agc>

</agc>