@import '../../angular-generics/src/lib/styles/base.css';

*{
  color: rgb(233, 233, 233);
}

.generic-page{
  background: rgb(15, 15, 15);
}

.generic-grid{
  border: 1px solid rgb(255, 255, 255);
  background:  rgba(255, 255, 255, 1);
}

.generic-row{
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.5);
}

.generic-column{
  border: 1px solid green;
  background: rgba(0, 255, 0, 0.5);
}

.generic-element{
  border: 1px solid blue;
  background: rgba(0, 0, 255, 0.5);
}

