@import '../../angular-generics/src/lib/styles/all.css';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';

:root {
  --inputLabelColor: rgb(0, 0, 0);
  --tableHeaderBorderColor: rgb(155, 155, 155);
  --tableCellBorderColor: rgb(211, 211, 211);
  --tableRowHoverBorderColor: rgb(119, 119, 119);
  --tableRowHoverColor: rgb(236, 236, 236);
  --inputColor: black;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  color: black;
}

.sample-box {
  background-color: brown;
  height: 200px;
}
