<div class="form-wrapper">
  <div *ngIf="!(pageMode == 'loading')" class="col-1 gap-5">

    <div class="form-header col-2-auto-right">
      <div class="title v-center-self">{{title}}</div>
      <div class="col-1 row-1 gap-5 pad-5">
        <div class="h-end-self v-end-self">{{detailTop}}</div>
        <div class="order-number h-end-self v-start-self">
          <strong>
            <span>{{detailBottom}}</span>
          </strong>
        </div>
      </div>
    </div>

    <div class="col-1">
      <ng-content select="[formContent]"></ng-content>
    </div>

    <div class="h-seperator"></div>

    <div class="col-2 full-width-content">
      <styled-button *ngIf="(!(pageMode == 'view')) && showCancel" [buttonText]="'Cancel'" (clicked)="doCancel()"
        [color]="'red'">
      </styled-button>
      <styled-button *ngIf="(!(pageMode == 'view')) && showSave" [buttonText]="'Save'" (clicked)="doSave()"
        [color]="'green'">
      </styled-button>
      <styled-button *ngIf="(pageMode == 'view') && showEdit" [buttonText]="'Edit'" (clicked)="doEdit()"
        [color]="'blue'">
      </styled-button>
      <ng-content #extraButtons></ng-content>
    </div>

  </div>
</div>