<ag-el>
  <ag-el [columns]="2" [pad]="'10px'" [gap]="'10px'">
    <!-- Row 1 Column 1 -->
    <ag-el>
      <div class="group-box">
        <div class="header">General</div>
        <div class="content">
          <ag-el [gap]="'8px'" [pad]="'5px'">
            <ag-input [labelPlacement]="'end end'">Client</ag-input>
            <ag-input [labelPlacement]="'end end'">Interal Id</ag-input>
            <ag-input [labelPlacement]="'end end'">Provision</ag-input>
            <ag-input [type]="'select'" [labelPlacement]="'end end'">Match 1313(p)
              by</ag-input>
            <ag-input [type]="'check'" [labelPlacement]="'end end'">Skip Ref2
              / Direct Id</ag-input>
            <ag-input [type]="'check'" [labelPlacement]="'end end'">Oil Spill Tax
            </ag-input>
            <ag-input [type]="'check'" [labelPlacement]="'end end'">
              Alternatives Apply</ag-input>
            <ag-input [type]="'check'" [labelPlacement]="'end end'">Multi-Level
              BOM</ag-input>
            <ag-input [type]="'check'" [labelPlacement]="'end end'">NAFTA</ag-input>
            <ag-input [type]="'check'" [labelPlacement]="'end end'">CITRUS</ag-input>
            <ag-input [type]="'check'" [labelPlacement]="'end end'">Import = Export Date
            </ag-input>
          </ag-el>
        </div>
      </div>
    </ag-el>

    <!-- Row 1 Column 2 -->
    <ag-el>
      <div class="group-box">
        <div class="header">Matching Info</div>
        <div class="content">
          <!-- <mat-icon class="icon">info</mat-icon><label class="match-info-sub-heading">Provision Rules</label> -->
        </div>
      </div>
    </ag-el>

    <!-- Row 2 Column 1 -->
    <ag-el>
      <div class="group-box">
        <div class="header">Import</div>
        <div class="content">
          <ag-el [gap]="'10px'" [pad]="'5px'">
            <ag-input [type]="'select'" [labelPlacement]="'end end'">Imports
              Priority</ag-input>
            <ag-input [type]="'select'" [labelPlacement]="'end end'">Form 7501
            </ag-input>
            <ag-input [type]="'select'" [labelPlacement]="'end end'">Importers
            </ag-input>
            <ag-input [type]="'select'" [labelPlacement]="'end end'">Ref 1</ag-input>
            <ag-input [type]="'select'" [labelPlacement]="'end end'">Ref 3</ag-input>
            <ag-input [type]="'select'" [labelPlacement]="'end end'">Ref 4</ag-input>
            <ag-input [type]="'select'" [labelPlacement]="'end end'">CD</ag-input>
            <ag-input [type]="'date'" [subtype]="'range'" [labelPlacement]="'end end'">Imports Received</ag-input>
            <ag-input [type]="'date'" [subtype]="'range'" [labelPlacement]="'end end'">Imports Used</ag-input>
            <ag-input [type]="'date'" [subtype]="'range'" [labelPlacement]="'end end'">Imports Imported</ag-input>
            <ag-input [type]="'check'" [labelPlacement]="'end end'">Domestic
              / Free Apply</ag-input>
          </ag-el>
        </div>
      </div>
    </ag-el>

    <!-- Row 2 Column 2 -->
    <ag-el>
      <div class="group-box">
        <div class="header">Export</div>
        <div class="content">
          <ag-el [gap]="'10px'" [pad]="'5px'">
            <ag-input [type]="'select'" [labelPlacement]="'end end'">Export Type
            </ag-input>
            <ag-input [type]="'select'" [labelPlacement]="'end end'">Export
              Priority</ag-input>
            <ag-input [type]="'select'" [labelPlacement]="'end end'">Batch Number
            </ag-input>
            <ag-input [type]="'date'" [subtype]="'range'" [labelPlacement]="'end end'">Export Date</ag-input>
            <ag-input [type]="'select'" [labelPlacement]="'end end'">Exporter
            </ag-input>
            <ag-input [type]="'select'" [labelPlacement]="'end end'">
              Destination Country</ag-input>
            <ag-input [type]="'select'" [labelPlacement]="'end end'">Part</ag-input>
            <ag-input [type]="'date'" [subtype]="'range'" [labelPlacement]="'end end'">Export Produced</ag-input>
            <ag-input [labelPlacement]="'end end'">Ref 1</ag-input>
            <ag-input [labelPlacement]="'end end'">Direct ID</ag-input>
          </ag-el>
        </div>
      </div>
    </ag-el>

    <!-- Row 3 Column 1 -->
    <ag-el>
      <div class="group-box">
        <div class="header">Import-Export Range Limit</div>
        <div class="content">
          <ag-el [gap]="'10px'" [pad]="'5px'">
            <ag-input [type]="'text'" [labelPosition]="'above'" [labelPlacement]="'end start'">Imports-Exports Range
              (Import)
            </ag-input>

            <ag-input [type]="'text'" [labelPosition]="'above'" [labelPlacement]="'end start'">Imports-Exports Range
              (Entry)
            </ag-input>

            <ag-input [type]="'text'" [labelPosition]="'above'" [labelPlacement]="'end start'">Market Value
              Difference (cents)
            </ag-input>
          </ag-el>
        </div>
      </div>
    </ag-el>

    <!-- Row 3 Column 2 -->
    <ag-el>

    </ag-el>
  </ag-el>

</ag-el>