:root {
  /* Input */
  --inputOutlineColor: rgb(171, 192, 216);
  --inputOutline: 1px solid var(--inputOutlineColor);
  --inputShadow: inset 0 0 3px 0px #f2fdff;
  --inputBackground: white;
  --inputPadding: 5px 5px 2px 5px;
  --inputLabelColor: rgb(7, 7, 7);
  --inputLabelSize: 20px;
  --disabledBackground: rgb(221, 232, 239);
  --disabledBorder: rgb(99, 127, 151);
  /* Slider */
  --sliderHeight: 30px;
  --sliderWidth: 100%;
  --sliderCoverWidth: 75px;
  --sliderChangeSpeed: 0.35s;
  --sliderRadius: 10px;
  --sliderPadding: 7px;
  --sliderBackgroundColor: #354558;
  --sliderFontSize: 16px;
  --sliderTrueText: 'Yes';
  --sliderFalseText: 'No';
  --sliderTrueColor: #26ca28;
  --sliderFalseColor: rgb(231, 66, 44);
  --sliderFalseTextOffset: 35px;
  /* Button */
  --buttonBorderRadius: 5px;
  --buttonPadding: 5px 8px;
  --buttonTextShadow: 0px 0px 4px rgb(34, 34, 34);
  --buttonBackground: linear-gradient(to bottom, #437ab1 0%, #003366 100%);
  --buttonBorder: 1px solid #465d6c;
  --buttonDisabledBackground: rgb(95, 95, 95);
  /* Modal */
  --modalBorder: 1px solid rgb(129, 129, 129);
}

.pointer, .pointer:hover {
  cursor: pointer;
}

.no-selection {
  user-select: none;
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}

.generic-element {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: grid;
}

.generic-input input {
  width: inherit;
  height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.generic-input select {
  width: 100%;
  height: 31px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: var(--inputPadding);
  border: var(--inputOutline);
  background: var(--inputBackground);
  box-shadow: var(--inputShadow);
}

.generic-input input, .generic-input textarea {
  padding: var(--inputPadding);
  border: var(--inputOutline);
  background: var(--inputBackground);
  box-shadow: var(--inputShadow);
}

.generic-input input:disabled, .generic-input textarea:disabled {
  background-color: var(--disabledBackground);
  border-color: var(--disabledBorder);
}

ag-check, ag-select, ag-text, ag-file {
  place-self: end stretch;
}

ag-side-nav {
  overflow: hidden;
}