<agc [cols]="1" [pad]="5" [gap]="15">
  <agc [cols]="3" [gap]="10">

    <agc [rows]="'1fr auto'">
      <ag-text [label]="'Textbox'" [(ngModel)]="textValue" [required]="true"></ag-text>
      <div> {{textValue}} </div>
    </agc>

    <agc [rows]="'1fr auto'">
      <ag-text [label]="'Number'" [inputType]="'number'" [(ngModel)]="numberValue" [required]="true"></ag-text>
      <div>{{numberValue}}</div>
    </agc>

    <agc [rows]="'1fr auto'">
      <ag-text [label]="'Date'" [inputType]="'date'" [(ngModel)]="dateValue"></ag-text>
      <div>{{dateValue | date:'medium'}}</div>
    </agc>

  </agc>

  <agc [cols]="3" [gap]="10">
    <ag-check [label]="'Having a good Day?'" [trueText]="'Yup!'" [falseText]="'ugh'" [disabled]="true" [type]="'slide'" [(ngModel)]="checkValue1"></ag-check>
    <ag-check [label]="'Like the color blue?'" [trueText]="'Love It!'" [falseText]="'meh'" [type]="'slide'" [(ngModel)]="checkValue2"></ag-check>
    <ag-check [label]="'Is this helpful?'" [type]="'slide'" [(ngModel)]="checkValue3"></ag-check>
  </agc>

  <agc [cols]="3" [gap]="10">
    <ag-check [label]="" [(ngModel)]="checkValue1" [disabled]="true">Good Day?</ag-check>
    <ag-check [label]="''" [(ngModel)]="checkValue2">Prefer Blue</ag-check>
    <ag-check [label]="''" [(ngModel)]="checkValue3">Helpful</ag-check>
  </agc>

  <agc [gap]="10">
    <ag-range [label]="'Number Range'" [inputType]="'number'"></ag-range>
    <ag-range [label]="'Date Range'" [inputType]="'date'"></ag-range>
  </agc>

  <agc [gap]="10" [cols]="2">
    <ag-select [label]="'Single Selection (async Source)'"
               [options]="dropdownItems" [required]="true"
               [(ngModel)]="select1" [display]="'title'"
               [placeholder]="'select...'"></ag-select>

    <ag-select [label]="'Single Selection (async Source) (disabled)'"
               [disabled]="true" [options]="dropdownItems"
               [(ngModel)]="select1" [display]="'title'"
               [placeholder]="'select...'"> </ag-select>

    <ag-select [label]="'Multiple Selection (ctrl + click) (async Source)'"
               [options]="dropdownItems" [(ngModel)]="select2"
               [display]="'title'" [multiple]="true"></ag-select>
  </agc>

  <agc [gap]="10">
    <ag-select [label]="'Single Selection (static source)'"
               [(ngModel)]="select3" [options]="staticOptions"
               [display]="'name'" [placeholder]="'select...'"></ag-select>

    <ag-select [label]="'Single Selection (disabled)'"
               [disabled]="true" [(ngModel)]="select3" [options]="staticOptions" [display]="'name'"
               [placeholder]="'select...'"></ag-select>

    <ag-select [label]="'Multiple Selection (ctrl + click) (static Source)'"
               [options]="staticOptions" [(ngModel)]="select4" [display]="'name'"
               [multiple]="true"></ag-select>
  </agc>

  <agc [gap]="10">
    <ag-file [label]="'Single File'"></ag-file>
    <ag-file [label]="'Multiple File'" [multiple]="true"></ag-file>
  </agc>

</agc>