<ag-content [columns]="1" [pad]="5" [gap]="25">
  <ag-content [columns]="3" [gap]="5">
    <ag-input [type]="'text'" [labelPosition]="'above'" [required]="true"
              [(ngModel)]="textValue">Textbox</ag-input>

    <ag-input [type]="'number'" [labelPosition]="'above'" [required]="true"
              [(ngModel)]="numberValue">Number</ag-input>

    <ag-input [type]="'date'" [labelPosition]="'above'"
              [(ngModel)]="dateValue">Date</ag-input>
  </ag-content>

  <ag-content [columns]="3" [gap]="5">
    <ag-input [type]="'check'" [subtype]="'slide'" [disabled]="checkValue1"
              [labelPosition]="'above'">Slider Check</ag-input>

    <ag-input [type]="'check'" [subtype]="'slide'"
              [labelPosition]="'above'" [(ngModel)]="checkValue2">Slider Check</ag-input>

    <ag-input [type]="'check'" [subtype]="'slide'"
              [labelPosition]="'above'" [(ngModel)]="checkValue3">Slider Check</ag-input>
  </ag-content>

  <ag-content [columns]="3" [gap]="5">
    <ag-input [type]="'check'" [subtype]="'slide'" [disabled]="checkValue1"
              [labelPosition]="'above'">Slider Check</ag-input>

    <ag-input [type]="'check'" [subtype]="'slide'"
              [labelPosition]="'above'" [(ngModel)]="checkValue2">Slider Check</ag-input>

    <ag-input [type]="'check'" [subtype]="'slide'"
              [labelPosition]="'above'" [(ngModel)]="checkValue3">Slider Check</ag-input>
  </ag-content>

  <ag-content [columns]="3">
    <ag-input [type]="'check'" [labelPosition]="'above'" (click)="checkValue1 = !checkValue1">Check</ag-input>
    <ag-input [type]="'check'" [labelPosition]="'above'" [(ngModel)]="checkValue2">Check</ag-input>
    <ag-input [type]="'check'" [labelPosition]="'above'" [(ngModel)]="checkValue3">Check</ag-input>
  </ag-content>

  <ag-content [gap]="5">
    <ag-range [type]="'number'" [labelPosition]="'above'">Number Range</ag-range>
    <ag-range [type]="'date'" [labelPosition]="'above'">Date</ag-range>
  </ag-content>

  <ag-content [gap]="5">
    <ag-select [options]="dropDownItems" [required]="true"
               [(ngModel)]="select1" [displayName]="'title'"
               [placeholder]="'select...'" [labelPosition]="'above'">Single Selection (http Source) </ag-select>

    <ag-select [disabled]="true" [options]="dropdownItems"
               [(ngModel)]="select1" [displayName]="'title'"
               [placeholder]="'select...'" [labelPosition]="'above'">Single Selection (http Source) (disabled)
    </ag-select>

    <ag-select [options]="dropdownItems" [(ngModel)]="select2"
               [displayName]="'title'" [multiple]="true"
               [labelPosition]="'above'">Multiple Selection (ctrl + click) (http Source)</ag-select>
  </ag-content>

  <ag-content [gap]="5">
    <ag-select [(ngModel)]="select3"
               [options]="staticOptions"
               [displayName]="'name'" [placeholder]="'select...'"
               [labelPosition]="'above'">Single Selection (array)</ag-select>

    <ag-select [disabled]="true" [(ngModel)]="select3"
               [options]="staticOptions"
               [displayName]="'name'" [placeholder]="'select...'"
               [labelPosition]="'above'">Single Selection (array) (disabled)</ag-select>

    <ag-select [options]="staticOptions" [(ngModel)]="select4"
               [displayName]="'name'" [multiple]="true"
               [labelPosition]="'above'">Multiple Selection (ctrl + click) (array)</ag-select>
  </ag-content>

  <ag-content [gap]="5">
    <ag-file [labelPosition]="'above'">Single File</ag-file>
    <ag-file [multiple]="true" [labelPosition]="'above'">Multiple File</ag-file>
  </ag-content>

</ag-content>